canvas {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 512px;
    height: 512px;
}
